<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shane.timesheets" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".views.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.NewJobActivity"
            android:label="@string/title_activity_new_job"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".views.JobInfoActivity"
            android:label="@string/title_activity_job_info" >
        </activity>
        <activity
            android:name=".views.PainterListActivity"
            android:label="@string/title_activity_painter_list" >
        </activity>
        <activity
            android:name=".views.AddWorkdayActivity"
            android:label="@string/title_activity_workday" >
        </activity>
        <activity
            android:name=".views.NewPainterActivity"
            android:label="@string/title_activity_new_painter" >
        </activity>
        <activity
            android:name=".views.AddPainterActivity"
            android:label="@string/title_activity_add_painter" >
        </activity>
        <activity
            android:name=".views.PainterDayInfoActivity"
            android:label="@string/title_activity_painter_day_info" >
        </activity>
    </application>

</manifest>
